<ul>
  <li *ngFor="let item of menus">
    <label> ID: {{ item.idMenu }} - Nombre {{ item.name }}</label>
    <br>
    <p>Receta: {{ item.cookingRecipe }}</p>
    <br>
    <label>Calor&iacute;as: {{ item.calories }}</label>
    <br>
    <div style="margin: 3%;">
      <button (click)="updateItem(item.idMenu)">Actualizar</button>
      <button (click)="deleteMeunu(item.idMenu)" style="margin-left: 2%;">Eliminar</button>
    </div>
  </li>
</ul>

<button (click)="createItem()">Registrar nuevo men&uacute;</button>