<div *ngIf="idMenu != null">
<label>ID</label>
<br>
<input [(ngModel)]="idMenu" disabled>
<br>
</div>
<label>Nombre</label>
<br>
<input [(ngModel)]="name">
<br>
<label>Receta</label>
<br>
<input [(ngModel)]="cookingRecipe">
<br>
<label>Calorias</label>
<br>
<input [(ngModel)]="calories">
<br>
<button *ngIf="idMenu == null" (click)="createMenu()">Crear</button>
<br>
<button *ngIf="idMenu != null" (click)="updateMenu()">Actualizar</button>
<br>